# # ─── Database ───────────────────────────────
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASS=gajahbengkak
# DB_NAME=timbangandigitalai

# # ─── JWT ────────────────────────────────────
# SECRET_KEY=ganti-dengan-kunci-rahasia-yang-kuat
# JWT_EXP_HOURS=8

# # ─── Scale ──────────────────────────────────
# # Set SIMULATE_SCALE=1 jika ESP32 belum siap
# SIMULATE_SCALE=0
# SERIAL_PORT=COM8       # Windows: COM8, Linux: /dev/ttyUSB0
# BAUD_RATE=9600

# # ─── Model ──────────────────────────────────
# MODEL_PATH=models/best.pt

# # ─── Server ─────────────────────────────────
# PORT=4000
